{% if events|length == 0 %}
⚠️ Выступления не найдены
{% else %}
    {% for event in events %}
        {% if (not loop.previtem) or (loop.previtem and (event.block_title != loop.previtem.block_title)) %}
<b>🗂️ {{event.block_title}}</b>
        {% endif %}
        {% if (not loop.previtem) or (loop.previtem and (event.nomination_title != loop.previtem.nomination_title)) %}
<b>🌟 {{event.nomination_title}}</b>
        {% endif %}
<b>/{{ '%03d' % event.public_id }}</b> {% if event.is_skipped %}<s>{% endif %}{% if event.is_current %}<b>{% endif %}{{ event.title }}
        {%- if event.is_current %} 🔥</b>{% endif %}
        {%- if event.is_skipped %}</s> 🚫{% endif %}
        {%- if event.subscription %} 🔔{% endif +%}

    {% endfor %}
👆 Нажми на номер, чтобы выбрать выступление
{% endif %}