{% macro events_pluralize(count) %}
{% if (count % 10 == 1) and (count % 100 != 11) %}
выступление
{%- elif (2 <= count % 10 <= 4) and (count % 100 < 10 or count % 100 >= 20) %}
выступления
{%- else %}
выступлений
{%- endif %}
{% endmacro %}
{% set duration_minutes = (event_duration % 3600) // 60 %}
{% set duration_seconds = event_duration % 60 %}
<blockquote>{% if event_is_skipped %}🚫 <s>{% endif %}{{ event_title }}{% if event_is_skipped %}</s>{% endif %}</blockquote>
{% if nomination_title %}<b>🌟 {{ nomination_title }}</b>{% endif +%}
<b>🕒 {{"%02d" | format(duration_minutes)}} мин. {{"%02d" | format(duration_seconds)}} сек.</b>
{% if current_event_queue and event_queue +%}
{% set time_diff = (event_cumulative_duration - current_event_cumulative_duration)|abs %}
{% set hours_diff = time_diff // 3600 %}
{% set minutes_diff = time_diff % 3600 // 60 %}
    {% set queue_difference = event_queue - current_event_queue %}
    {% if queue_difference < 0 %}
🏁 Закончилось <b>{{ queue_difference|abs }} {{events_pluralize(queue_difference|abs)}}</b> назад <i>(≈ {{"%02d" | format(hours_diff)}} час. {{"%02d" | format(minutes_diff)}} мин.)</i>
    {% elif queue_difference == 0 %}
🔥 Выступление идёт <b>ПРЯМО СЕЙЧАС</b>
    {% elif queue_difference > 0 %}
🚀 До начала: <b>{{ queue_difference }} {{events_pluralize(queue_difference)}}</b> <i>(≈ {{"%02d" | format(hours_diff)}} час. {{"%02d" | format(minutes_diff)}} мин.)</i>
    {% endif %}
{% endif %}