{% macro events_pluralize(count) %}
{% if (count % 10 == 1) and (count % 100 != 11) %}
выступление
{%- elif (2 <= count % 10 <= 4) and (count % 100 < 10 or count % 100 >= 20) %}
выступления
{%- else %}
выступлений
{%- endif %}
{% endmacro %}
{% if subscriptions|length == 0 %}
У вас нет подписок 🔕
{% else %}
    {% for subscription in subscriptions %}
        {% if current_event_queue and subscription.event.queue %}
            {% set time_diff = (subscription.event.cumulative_duration - current_event_cumulative_duration)|abs %}
            {% set hours = time_diff // 3600 %}
            {% set minutes = (time_diff % 3600) // 60 %}
            {% set events_left = subscription.event.queue - current_event_queue %}
            {% if events_left > 0 %}
                {% set tag %}<b>🚀 До начала:</b> {{events_left}} {{events_pluralize(events_left)}} <i>(≈ {{"%02d" | format(hours)}} час. {{"%02d" | format(minutes)}} мин.)</i>{% endset %}
            {% elif events_left == 0 %}
                {% set tag %}<b>🔥 Идёт сейчас</b>{% endset %}
            {% elif events_left < 0 %}
                {% set tag %}<b>🏁 Закончилось:</b> {{events_left|abs}} {{events_pluralize(events_left|abs)}} назад <i>(≈ {{"%02d" | format(hours)}} час. {{"%02d" | format(minutes)}} мин.)</i>{% endset %}
            {% endif -%}
        {% endif %}
<b>/{{ subscription.event.public_id }}</b> {% if subscription.event.is_skipped %}<s>{% endif %}{{ subscription.event.title }}{% if subscription.event.is_skipped %}</s>{% endif %}
{% if tag +%}
{{ tag }}{% endif +%}
<b>🔔 Напоминания:</b> за {{subscription.counter}} {{events_pluralize(subscription.counter)}}

    {% endfor %}
{% endif %}