{% if events|length == 0 %}
⚠️ Выступления не найдены
{% else %}
    {% for event in events %}
        {% if event.block %}
            {% if (not loop.previtem) or (loop.previtem and (event.block != loop.previtem.block)) %}
<b>🗂️ {{event.block.title}}</b>
            {% endif %}
        {% endif %}
        {% if event.nomination %}
            {% if (not loop.previtem) or (loop.previtem and (event.nomination != loop.previtem.nomination)) %}
<b>🌟 {{event.nomination.title}}</b>
            {% endif %}
        {% endif %}
<b>/{{event.id}}</b> {% if event.is_skipped %}<s>{% endif %}{% if event.is_current %}<b>{% endif %}{{ event.title }}
        {%- if event.is_current %} 🔥</b>{% endif %}
        {%- if event.is_skipped %}</s> 🚫{% endif %}
        {%- if event.subscription %} 🔔{% endif +%}
    {% endfor %}
{% endif %}