{% extends "layout.html" %}
{% block content %}
<h2>Парсинг расписания из Cosplay2</h2>
<div class="alert alert-info" role="alert">
  Для импорта расписания из Cosplay2 перейдите в раздел <b>"Планирование расписания"</b>
    в меню организации, нажмите <b>"Сохранить"</b>, затем <b>"Экспортировать в Excel"</b> и
    полученный файл загрузите в форму ниже.
</div>
<div class="alert alert-warning" role="alert">
  Текущее расписание будет полностью очищено!
</div>
<form method="post" class="form form-vertical" enctype="multipart/form-data">
    <div class="d-flex justify-content-center align-items-center">
        <input type="file" name="file">
        <input class="btn btn-primary" type="submit" value="Парсить!">
    </div>
</form>
{% endblock %}