{% if current_event %}<b>Сейчас:</b> {{ current_event.id }}. {{ current_event.title }} {% if current_event.block %}<i>({{ current_event.block.title }})</i>{% endif %}{% endif %}
{% if next_event %}{{ "\n" }}<b>Затем:</b> {{ next_event.id }}. {{ next_event.title }} {% if next_event.block %}<i>({{ next_event.block.title }})</i>{% endif %}{% endif %}