{% macro events_pluralize(count) %}
{% if (count % 10 == 1) and (count % 100 != 11) %}
выступление
{%- elif (2 <= count % 10 <= 4) and (count % 100 < 10 or count % 100 >= 20) %}
выступления
{%- else %}
выступлений
{%- endif %}
{% endmacro %}
{% if event == current_event %}
Выступление {{ event.id }}. {{ event.title }} {% if event.block %}<i>({{ event.block.title }})</i>{% endif %} <b>НАЧАЛОСЬ!</b>
{% else %}
{% set counter = event.queue - current_event.queue %}
До выступления {{ event.id }}. {{ event.title }} {% if event.block %}<i>({{ event.block.title }})</i>{% endif %} осталось <b>{{ counter }} {{ events_pluralize(counter) }}</b>
{%- endif -%}