{% for achievement in achievements %}
<b>{% if show_ids %}{{ achievement.id }}. {% endif %}{{ achievement.title }}</b> {{ "✅" if achievement.user_received else "" }}
    {% if achievement.description %}
{{ achievement.description }}
    {% endif %}

{% endfor %}