{% for achievement in achievements %}
<b>{{ achievement.title }} {{ "✅" if achievement.user_received else "" }}</b>
    {% if achievement.description %}
{{ achievement.description }}
    {% endif %}

{% endfor %}