{% macro events_pluralize(count) %}
{% if (count % 10 == 1) and (count % 100 != 11) %}
выступление
{%- elif (2 <= count % 10 <= 4) and (count % 100 < 10 or count % 100 >= 20) %}
выступления
{%- else %}
выступлений
{%- endif %}
{% endmacro %}
{% if current %}
Выступление {{ id }}. {{ title }} <b>НАЧАЛОСЬ!</b>{% else %}
До выступления {{ id }}. {{ title }} осталось <b>{{ counter }} {{ events_pluralize(counter) }}</b>
{%- endif %}